<!-- Extend the layout template and place the content of this file as children of that template -->
{% extends 'layout.html'%} {% block body %}
<h1>About us</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, quasi,
  eligendi harum delectus asperiores quaerat autem aspernatur eveniet nam quis
  nisi odit enim voluptatum. Officia delectus accusamus voluptatum non quisquam
  temporibus eum et incidunt ducimus ratione architecto qui expedita aliquid
  velit, nesciunt quasi praesentium totam consequuntur itaque iste. Dolores,
  cum.
</p>
{% endblock%}
