<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="static\style\main.css" />
    <title>Flask Blog App</title>
  </head>
  <body>
    <!-- other content will be placed in this block -->
    <!-- include is for partial files -->
    {% include 'includes/_navbar.html' %}
    <div class="container">
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
